body {
    margin: 0;
    padding: 100px;
    background-color: black;
}
main {
    display: flex;
}
#txt {
    height: 100vh;
    width: 50vw;
    color: white; 
    font-family: 'Jersey 10', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    }

h1 {
    font-size: 200px;
    margin: 0px;
    line-height: 140px;
        }
h2{
    font-size: 30px;
    width: 620px;
 }
h3 {
    font-size: 13px;
    width: 620px;
 }


#pc{
    height: 100vh;
    width: 50vw;
    background-image: url(img/pc_bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-size: auto; 
    display: flex;
    justify-content: center;
    padding-top: 170px;
}
.cartelle{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}  
img {
    width: 80px;
    margin: 10px;
    margin-bottom: 10px;
}
p {
    color: white;
    font-size: 15px;
    font-family: oswald;
    margin-top: 0px;
    height: 20px;
}

.wb-title {
    font-size: 13px;
    color: "#000000";
}

.winbox {
    border-radius: 5px;  
  }

  .winbox .wb-body {
    border-radius: 5px; 
  }
  