body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.preview1, .preview2, .preview3, .preview4, .preview5, .preview6 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.preview1 { background-image: url(img/bsfc.jpg); }
.preview2 { background-image: url(img/Logodesign.jpg); }
.preview3 { background-image: url(img/Report.jpg); }
.preview4 { background-image: url(img/Casainfestata.jpg); }
.preview5 { background-image: url(img/tavolo.jpg.); }  
.preview6 { background-image: url(img/mdb.jpg); }

h1 {
    font-family: 'Jersey 10', sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
}
.section1 {
margin: 0px 30px;
padding-top: 50px;
}

h2 {
font-family: oswald;
font-size: clamp(70px, 6vw, 700px)
}

hr {
width: 90vw;
height: 2px;
background-color:white;
border: none;
margin: 20px 0px;
}

h3 {
font-family: oswald;
font-size: clamp(20px, 3vw, 400px)
}

.h3-container {
display: flex;
justify-content: space-between;
align-items: center;
width: 90vw;
}

.freccia {
width: 40px; 
height: auto;
}

.category {
    width: 90vw;
    padding: 0px;
} 

.tag {
    width: 100px;
    height: 30px;
}

.container-fluid {
    display: flex;
    gap: 10px;
    align-items: left;
    padding: 0px !important;
    margin-left: 0px; 
}
.box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 40px;
    min-width: 70px;
    text-align: center;
    font-size: 18px;
    font-family: Oswald;
}
.background {
    max-height: 1500px;
    min-height: 800px;
    color: white;
    padding: 0px;
}

#immaginip{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
}


.carousel-item img {
    width: 500px; 
    object-fit: cover;
}

#carousel{
width: 40vw;

}

.carousel-indicators button {
    width: 12px; 
    height: 15px;
    border-radius: 50%; 
    background-color: black; 
    border: 1px solid white; 
}

.carousel-indicators .active {
    background-color: white; 
    border: 2px solid white; 
}

#scrollTopBtn {
    cursor: pointer;
    margin-top: 30px;
}

.footer {
    margin: 30px;
}

.su {
    max-width: 30px;
    min-width: 20px;
}