body {
    margin: 0;
    padding: 100px;
    background-color: black;
}
main {
    display: flex;
}
#txt {
    height: 100vh;
    width: 50vw;
    color: white; 
    font-family: doto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    }

h1 {
    width: 620px;
    height: 240px;
    font-size: 100px;
    margin: 0px;
        }
h2{
    font-size: 30px;
    width: 620px;
 }
h3 {
    font-size: 13px;
    width: 620px;
 }


#pc{
    height: 100vh;
    width: 50vw;
    background-image: url(pc_bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-size: auto; 
    display: flex;
    justify-content: center;
    padding-top: 230px;
}
.cartelle{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}  
img {
    width: 90px;
    margin: 10px;
    margin-bottom: 13px;
}
p {
    color: white;
    font-size: 10px;
    font-family: oswald;
    margin-top: 0px;
    height: 20px;
}
